body {
  font-family: Verdana, 'Times New Roman', serif, sans-serif;
  font-size: 1rem;
  color: black;
  margin: 0;
}

header {
  background-color: rgb(167, 7, 156);
  color: rgba(0, 0, 0, 0.93);
  padding: 5rem;
  text-align: center;
}

main {
  padding: 5rem;
  text-align: left;
}

nav {
  text-align: center;
  width:100%;
  padding: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;
    background-color: white;
  
}

nav ul li {
  display: inline-block;
  margin: 0rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem ;

}
/* Menú vertical en móvil */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 0.8rem 0;
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #3774d1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #34495e;
}

/* FORMULARIO */
form {
  width: 100%;
  font-size: 1rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fdfdfd;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: rgb(167, 7, 156);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
  color: #cf6b6b;
  text-align: center;
}


